#mapid {height: 300px; width: 300px; padding-bottom: 100px; margin-bottom: 40px;}

footer {
    background: #091833;
    margin: 0px;
}
footer p {
    margin:0px; 
    line-height: 2rem;
    color: white;
}
svg{
    fill:white;
    width:3rem;
}
svg:hover{
    fill: slategrey;
    transition: background-color .5s;
}
a{text-decoration: none;}
footer svg{padding-right: 1rem; padding-top: 2rem;}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 1.2rem;
    padding-bottom: 2rem;;
}
.motto {
    font-size: 25px;
    font-style: italic;
    padding-bottom: 10rem;
}

header h1 {margin:0px; font-size: 70px; font-weight: 300; padding-top:10px;}

body {
    background: linear-gradient(90deg,#720428,#9f0733)
}

.card-img-top {
    height: 30rem;;
}

@media (min-width: 768px){
    .container{
        max-width:750px;
    }
    body {
        background-image: url(../images/yoga.png);
        background-size: cover;
        background-position: left;
        padding-top: 5rem;
    }
    #mapid {height: 300px; width: 500px; padding-bottom: 100px; margin-bottom: 40px;}
}

