#mapid {height: 300px; width: 500px; padding-bottom: 100px;}

footer {
    background: black;
    margin: 0px;
}
footer p {
    margin:0px; 
    line-height: 2rem;
    color: white;
}
svg{
    fill:white;
    width:1.8rem;
}
svg:hover{
    background-color: #D0D0D0;
    transition: background-color .5s;
}
a{text-decoration: none;}
footer svg{padding-right: 1rem;}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.motto {
    font-size: 20px;
    font-style: italic;
}

header{
    background: linear-gradient(90deg, #63002d, #c1404d);
    background-size: cover;
    background-position: center;
    color:white;
    padding-bottom: 2.5rem;
    height:200%;
}

header h1 {margin:0px; padding-top: 1rem; font-size: 70px;}

main {
    background-image: url(../images/yoga.png);
    image-rendering: crisp-edges;
    background-size: cover;
    background-position: center;
    padding: 25rem;
}

main .container {
    color: white;
}